<popup title="Add Hunt" description="add hunt by fillin the fields bellow." submitText="Add" (submit)="addHunt()">
  <button btn class="flex w-full items-center justify-center  px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0  gap-x-2 hover:bg-blue-600">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>

    <span>Add hunt</span>
  </button>
  
  <div form-body  class="grid grid-cols-1 sm:grid-cols-2 gap-x-3 gap-y-6">
    <app-select
      [control]="huntForm.get('fish_name')"
      placeholder="Select Fish hunted"
      [options]="fishes"
      label="fish name"
    />
    <number-input
      [control]="huntForm.get('numberOfFish')"
      label="Number of fish hunted"
    />
  </div>
        
</popup>
