<header class="bg-blue-500">
    <nav class="container relative flex items-center justify-between px-6 py-8 mx-auto text-white">
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 md:w-10 md:h-10" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
            </svg>
        </a>

        <button class="md:hidden">
            <span v-show="!open">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </span>

            <span v-show="open">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </span>
        </button>

        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
            <li *ngFor="let menuItem of menuItems">
                <a *ngIf="menuItem.text != 'Logout' " [routerLink]="[menuItem.url]"
                    class="menu-item px-4 py-2 md:rounded-full hover:md:bg-blue-100 hover:text-blue-700"
                    [ngClass]="[menuItem?.['isActive'] ? 'md:bg-blue-200 text-blue-700 font-semibold' : '']">
                    {{ menuItem.text }}
                </a>
                <a *ngIf="menuItem.text == 'Logout' $$ authenticated != undefined"
                    (click)="onLogout()"
                    class="menu-item px-4 py-2 md:rounded-full hover:md:bg-blue-100 hover:text-blue-700 cursor-pointer"
                    [ngClass]="[menuItem?.['isActive'] ? 'md:bg-blue-200 text-blue-700 font-semibold' : '']">
                    {{ menuItem.text }}
              </a>
            </li>
        </ul>
    </nav>
</header>
