<main>
    <section>
        <div class="relative grid w-full bg-blue-500 h-96 lg:h-[32rem] place-items-center">
            <div class="flex flex-col items-center mx-auto text-center">
                <h1 class="text-4xl font-semibold text-white uppercase md:text-6xl">AFTAS</h1>

                <a href="#about" class="mt-8 cursor-pointer animate-bounce">
                    <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="27" cy="26" r="18" stroke="white" stroke-width="2" />
                        <path
                            d="M22.41 23.2875L27 27.8675L31.59 23.2875L33 24.6975L27 30.6975L21 24.6975L22.41 23.2875Z"
                            fill="white" />
                    </svg>
                </a>
            </div>
        </div>

        <svg class="fill-blue-500" viewBox="0 0 1440 57" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1440 0H0V57C720 0 1440 57 1440 57V0Z" />
        </svg>
    </section>

    <section class="container px-6 py-8 mx-auto lg:py-16 " id="about">
        <div class="lg:flex lg:items-center lg:-mx-4">
            <div class="lg:w-1/2 lg:px-4">
                <h3 class="text-xl font-medium text-gray-800 md:text-2xl lg:text-3xl">We organize the best fishing
                    competitions to enjoy yourself with your friends.</h3>

                <p class="mt-6 text-gray-500 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam
                    provident voluptatum id magni iste nobis corrupti, delectus quis repellat, debitis error quod
                    explicabo molestiae rerum totam ab sunt excepturi?</p>
            </div>

            <div class="mt-8 lg:w-1/2 lg:px-4 lg:mt-0">
                <img class="object-cover w-full rounded-xl h-96"
                    src="https://maghreb.simplonline.co/_next/image?url=https%3A%2F%2Fsimplonline-v3-prod.s3.eu-west-3.amazonaws.com%2Fmedia%2Fimage%2Fjpg%2Fchasse-sous-marine-sous-eau-950002-169315-657215df5fd58614044589.jpg&w=1280&q=75"
                    alt="Video thumbnail">
            </div>
        </div>
    </section>


</main>