<section class="container px-4 mx-auto">

  <div class="mt-6 md:flex md:items-center md:justify-between">
    <div class="inline-flex overflow-hidden bg-white border divide-x rounded-lg none:bg-gray-900 rtl:flex-row-reverse none:border-gray-700 none:divide-gray-700">
      <button (click)="getAllCompetitions()" class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 bg-gray-100 sm:text-sm none:bg-gray-800 none:text-gray-300">
        View all
      </button>

      <button (click)="getOnGoingCompetitions()" class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm none:hover:bg-gray-800 none:text-gray-300 hover:bg-gray-100">
        On Going
      </button>

      <button (click)="getClosedCompetitions()" class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm none:hover:bg-gray-800 none:text-gray-300 hover:bg-gray-100">
        Closed
      </button>

      <button (click)="getFutureCompetitions()" class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm none:hover:bg-gray-800 none:text-gray-300 hover:bg-gray-100">
        Incoming
      </button>
    </div>

    <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>

      <span>Add Competition</span>
    </button>
  </div>

  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 none:border-gray-700 md:rounded-lg">
          <app-competitions-table [competitions]="competitions"></app-competitions-table>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 sm:flex sm:items-center sm:justify-between ">
    <div class="text-sm text-gray-500 none:text-gray-400">
      Page <span class="font-medium text-gray-700 none:text-gray-100">1 of 10</span>
    </div>

    <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
      <a href="#" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 none:bg-gray-900 none:text-gray-200 none:border-gray-700 none:hover:bg-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
        </svg>

        <span>
                    previous
                </span>
      </a>

      <a href="#" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 none:bg-gray-900 none:text-gray-200 none:border-gray-700 none:hover:bg-gray-800">
                <span>
                    Next
                </span>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
        </svg>
      </a>
    </div>
  </div>
</section>
